<header>
  <nav class="navbar navbar-expand-md navbar-dark" style ="background-color: #398027;">
    <a class="navbar-brand" href="/home">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <% if(user === undefined){%>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
      <div>
      <a class=class="nav-item nav-link" href="/login"><button type="submit" class="btn btn-outline-light my-2 my-sm-0">Login</button></a>
      <a class=class="nav-item nav-link" href="/register"><button type="submit" class="btn btn-primary" style="background-color: white; color: black; border: 0;">Register</button></a>  </div>
      <% } else{%>
      <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
      <form class="form-inline" method="POST" action="/logout">
        <div class="mr-sm-2" style="color:var(--white)">Logged in As: <%=user.email%></div>
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
          Logout
        </button>
      </form>
      <% }%>
    </div>
  </nav>
</header>
